@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Medium.otf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Semibold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-ExtraBold.otf);
    font-weight: 800;
}